header {
    background-color: lightsteelblue;
}

h2 {
    background-color: darkolivegreen;
    color: white;
    text-align: center;
}

h3 {
    background-color: greenyellow;
    color:darkviolet;
    text-align: center;
}